<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
    {%block content%}
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    
    <h1>This is the homepage</h1>
    <p>Database chart will be illustrated in here!</p>

    <body>
        <table>
            <tr>        
                {% for header in headings%}
                <th>{{ header }}</th>
                    
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            
        </table>
    </body>
    {% endblock %}
</html>